<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="../home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="img/l.png">
    <title>Show up</title>
</head>

<body>
    <div class="home">
        <div class="header">
            <header>
                <div class="logo">
                    <img src="img/LOGO.png" alt="logo">
                </div>
                <div class="search">
                    <input type="text" id="searchInput" placeholder="Search for a movie..." onkeyup="searchMovie()">
                    <span class="material-symbols-outlined">video_search</span>
                </div>

                <div class="all" id="all">
                <div class="nav">
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="Film">Film</a></li>
                            <li><a href="Serie">Series</a></li>
                            <li><a href="Anime">Anime</a></li>
                            <li><a href="Animation" class="active">Animation</a></li>
                            <li><a href="list">My List</a></li>
                            <li>
                                <div class="account" id="account" onclick="openlogin()">
                                  <% if (user && user.photos) { %>
                                    <img src="<%= user.photos[0].value %>" alt="User Image" id="user-image" class="profile-image">
                                  <% } else { %>
                                    <span class="material-symbols-outlined" id="default-icon">account_circle</span>
                                  <% } %>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
                <span class="material-symbols-outlined" id="menu">
                    menu
                </span>

            </header>
        </div>

        <div class="main">

            <div class="Second-part">
                <div id="noResults" style="display: none;">No results found.</div>
                <H1 class="H1 G" id="secno4">Animation</H1>
                <div class="section">
                    <div class="sec">
                        <div class="leftarrow">

                        </div>
                        <div class="title" id="secno">
                            <h1>Comedy</h1>
                            <span class="material-symbols-outlined">arrow_forward_ios</span>
                        </div>
                    </div>

                    <div class="list">
                        <div class="movie">

                            <a href="./Video page/video_Des">
                                <div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div><img src="movies/animation/Amy Poehler.jpg" alt="">
                            </a>
                            <div class="details">
                                <h2>Horton</h2>
                                <div class="likes">
                                    <p>1k</p>
                                    <p>7.2</p>
                                </div>
                            </div>
                        </div>


                        <div class="movie">

                            <a href="./Video page/video_Des">
                                <div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div><img src="movies/animation/UP.jpg" alt="">
                            </a>
                            <div class="details">
                                <h2>Up</h2>
                                <div class="likes">
                                    <p>1k</p>
                                    <p>7.2</p>
                                </div>
                            </div>
                        </div>

                        <div class="movie">

                            <a href="./Video page/video_Des">
                                <div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div><img src="movies/animation/téléchargement.jpg" alt="">
                            </a>
                            <div class="details">
                                <h2>Luck</h2>
                                <div class="likes">
                                    <p>1k</p>
                                    <p>7.2</p>
                                </div>
                            </div>
                        </div>



                        <div class="movie">

                            <a href="./Video page/video_Des">
                                <div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div><img src="movies/animation/spongebob.jpg" alt="">
                            </a>
                            <div class="details">
                                <h2>Spongebob</h2>
                                <div class="likes">
                                    <p>1k</p>
                                    <p>7.2</p>
                                </div>
                            </div>
                        </div>

                        <div class="movie">

                            <a href="./Video page/video_Des">
                                <div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div>
                                <img src="movies/animation/7ef134e5-1e20-450a-8506-935d0a811f6b.jpg" alt="">
                            </a>
                            <div class="details">
                                <h2>Tngled</h2>
                                <div class="likes">
                                    <p>1k</p>
                                    <p>7.2</p>
                                </div>
                            </div>
                        </div>

                        <div class="movie">

                            <a href="./Video page/video_Des">
                                <div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div>
                                <img src="movies/animation/Halloween.jpg" alt="">
                            </a>
                            <div class="details">
                                <h2>Transelvinia hotel</h2>
                                <div class="likes">
                                    <p>1k</p>
                                    <p>7.2</p>
                                </div>
                            </div>
                        </div>




                    </div>


                </div>


                <div class="section">
                    <div class="sec">
                        <div class="leftarrow">

                        </div>
                        <div class="title" id="secno1">
                            <h1>Adventure</h1>
                            <span class="material-symbols-outlined">arrow_forward_ios</span>
                        </div>
                    </div>

                    <div class="list">

                        <div class="movie">

                            <a href="./Video page/video_Des">
                                <div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div>
                                <img src="movies/animation/45a72805-864a-4efc-8e7d-d5555d8ba643.jpg" alt="">
                            </a>
                            <div class="details">
                                <h2>Luca</h2>
                                <div class="likes">
                                    <p>1k</p>
                                    <p>7.2</p>
                                </div>
                            </div>
                        </div>


                        <div class="movie">

                            <a href="./Video page/video_Des">
                                <div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div>
                                <img src="movies/animation/afd6194a-e535-44ad-bd60-fc100e0a8b90.jpg" alt="">
                            </a>
                            <div class="details">
                                <h2>Onward</h2>
                                <div class="likes">
                                    <p>1k</p>
                                    <p>7.2</p>
                                </div>
                            </div>
                        </div>


                        <div class="movie">

                            <a href="./Video page/video_Des">
                                <div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div>
                                <img src="movies/animation/Moana❤.jpg" alt="">
                            </a>
                            <div class="details">
                                <h2>Moana</h2>
                                <div class="likes">
                                    <p>1k</p>
                                    <p>7.2</p>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="section">
                        <div class="sec">
                            <div class="leftarrow">

                            </div>
                            <div class="title" id="secno2">
                                <h1>Drama</h1>
                                <span class="material-symbols-outlined">arrow_forward_ios</span>
                            </div>
                        </div>

                        <div class="list">

                            <div class="movie">

                                <a href="./Video page/video_Des">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/animation/Encanto.jpg" alt="">
                                </a>
                                <div class="details">
                                    <h2>Encanto</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>

                            <div class="movie">

                                <a href="./Video page/video_Des">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/animation/Grave of the fireflies.jfif" alt="">
                                </a>
                                <div class="details">
                                    <h2>Grave of the fireflies</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>

                            <div class="movie">

                                <a href="./Video page/video_Des">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/animation/tale.jfif" alt="">
                                </a>
                                <div class="details">
                                    <h2>The Tale of The Princess Kaguya</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>

                            <div class="movie">

                                <a href="../Video page/video_Des">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div><img src="movies/animation/march comes in like a lion.jfif" alt="">
                                </a>
                                <div class="details">
                                    <h2>March comes in like a lion</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>

                            <div class="movie">

                                <a href="./Video page/video_Des">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div><img src="movies/animation/a silent voice.jfif" alt="">
                                </a>
                                <div class="details">
                                    <h2>A silent voice</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>



                        </div>


                    </div>

                    <div class="section">
                        <div class="sec">
                            <div class="leftarrow">

                            </div>
                            <div class="title" id="secno3">
                                <h1>Horror</h1>
                                <span class="material-symbols-outlined">arrow_forward_ios</span>
                            </div>
                        </div>

                        <div class="list">
                            <div class="movie">

                                <a href="./Video page/video_Des">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div><img src="movies/animation/coraline.jfif" alt="">
                                </a>
                                <div class="details">
                                    <h2>Coraline</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>



                            <div class="movie">

                                <a href="./Video page/video_Des">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/animation/halloween.jfif" alt="">
                                </a>
                                <div class="details">
                                    <h2>Halloween</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>


                            <div class="movie">

                                <a href="./Video page/video_Des">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div><img src="movies/animation/night.jfif" alt="">
                                </a>
                                <div class="details">
                                    <h2>Nightmare before christmas</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>


                            <div class="movie">

                                <a href="./Video page/video_Des">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div><img src="movies/animation/over.jfif" alt="">
                                </a>

                                <div class="details">
                                    <h2>Over the garden wall</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>


                            <div class="movie">

                                <a href="./Video page/video_Des">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/animation/1f2b042c-0b51-4b31-8dd5-15596f8e0a3e.jpg" alt="">
                                </a>
                                <div class="details">
                                    <h2>Adams family</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>


                        </div>



                    </div>


                </div>
            </div>

            <footer class="footer">
                <div class="footer-content">
                    <div class="footer-logo">
                        <img src="img/LOGO-removebg-preview.png" alt="logo">
                    </div>
                    <div class="footer-links">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="Film">Film</a></li>
                            <li><a href="Serie">Series</a></li>
                            <li><a href="Anime">Anime</a></li>
                            <li><a href="Animation" class="active">Animation</a></li>
                            <li><a href="list">My List</a></li>
                        </ul>
                    </div>
                    <div class="footer-social">
                        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p>&copy; 2024 Show up . By Chaima Mansouri and Chahd Touaibia . ITC </p>
                </div>
            </footer>




        </div>
        <div class="login" id="login-modal" style=" display:none">
            <div class="login-box">
                <button class="close-btn" id="close-btn">&times;</button>
                <h2>Login Or Signup</h2>
                <a href="/auth/google" class="login-button google"> Google</a>
                <a href="/auth/facebook" class="login-button facebook"> Facebook</a>
            </div>
        </div>
        <script src="../forAll.js"></script>

</body>

</html>