<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="../home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="img/l.png">
    <title>Show up</title>
</head>
<body>
    <div class="home">
        <div class="header">
            <header>
                <div class="logo">
                    <img src="img/LOGO.png" alt="logo">
                </div>
                <div class="search">
                    <input type="text" id="searchInput" placeholder="Search for a movie..." onkeyup="searchMovie()">
                    <span class="material-symbols-outlined">video_search</span>
                </div>

                <div class="all" id="all">
                <div class="nav">
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="Film">Film</a></li>
                        <li ><a href="Series" class="active">Series</a></li>
                        <li><a href="Anime">Anime</a></li>
                        <li><a href="Animation">Animation</a></li>
                        <li><a href="list">My List</a></li>
                            <li>
                                <div class="account" id="account" onclick="openlogin()">
                                  <% if (user && user.photos) { %>
                                    <img src="<%= user.photos[0].value %>" alt="User Image" id="user-image" class="profile-image">
                                  <% } else { %>
                                    <span class="material-symbols-outlined" id="default-icon">account_circle</span>
                                  <% } %>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                </div>
                <span class="material-symbols-outlined" id="menu" >
                    menu
                    </span>
              
            </header>
        </div>

        <div class="main">
           
            <div class="Second-part">
                <div id="noResults" style="display: none;">No results found.</div>
                 <H1 class="H1" id="last">Series</H1>
                 <div class="link">
                    <a href="#" id="korean" class="active">Korean </a>
                    <a href="#" id="turkish">Turkish</a>
                 </div>
                
                 <div class="korean">
                    <div class="section">
                        <div class="sec">
                            <div class="leftarrow">
                                
                            </div>
                            <div class="title" id="secno">
                                <h1>Historic</h1>
                            <span class="material-symbols-outlined">arrow_forward_ios</span>
                            </div>
                        </div>
                        
                        <div class="list">
                            
    
                            <div class="movie">
                                
                                <a href="./Video page/video_ser">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div><img src="movies/historical kdrama/26298f4b-5586-4523-9fd0-441f68bfd8de.jpg" alt=""></a>
                                <div class="details">
                                    <h2>Alchemy of souls</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
                            
                            <div class="movie">
                                
                                <a href="./Video page/video_ser"><div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div><img src="movies/historical kdrama/a44bb1bf-ef03-418c-ab25-efce5e0e15a8.jpg" alt=""></a>
                                <div class="details">
                                    <h2>Moon lovers</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="movie">
                                
                                <a href="./Video page/video_ser"><div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div><img src="movies/historical kdrama/Alchemy Of Souls Season 2 Official Poster Netflix.jpg" alt=""></a>
                                <div class="details">
                                    <h2>Alchemy of souls 2</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
    
    
                            <div class="movie">
                                
                                <a href="./Video page/video_ser"><div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div><img src="movies/comedy kdrama/5456a014-e0ef-4ea7-8672-76dbe5ff6f0a.jpg" alt=""></a>
                                <div class="details">
                                    <h2>MR queen</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="movie">
                               
                                <a href="./Video page/video_ser"> <div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div>
                                <img src="movies/historical kdrama/Joseon Lawyer 2023 _ Адвокат из Чосона 2023.jpg" alt=""></a>
                                <div class="details">
                                    <h2>Joseon Lawyer</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="movie">
                                
                                <a href="./Video page/video_ser"><div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div>
                                <img src="movies/historical kdrama/The tale of Nokdu (조선로코 녹두전)_ pósteres y avances.jpg" alt=""></a>
                                <div class="details">
                                    <h2>The tale of Nokdu</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>

                            <div class="movie">
                                
                                <a href="./Video page/video_ser">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div><img src="movies/fantasy kdrama/Tale Of The Nine Tailed Poster.jpg" alt=""></a>
                                <div class="details">
                                    <h2>Alchemy of souls</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
    
    
    
                        </div>
    
                            
                        </div>
                        
    
    
    
    
    
                        <div class="section">
                            <div class="sec">
                                <div class="leftarrow">
                                    
                                </div>
                                <div class="title" id="secno1">
                                    <h1>Drama</h1>
                                <span class="material-symbols-outlined">arrow_forward_ios</span>
                                </div>
                            </div>
    
                            <div class="list">
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/kdrama romance/Queen of Tears (2024).jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Queen of tears</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser">
                                        <div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div>
                                        <img src="movies/kdrama romance/8 New Korean Dramas In December 2021 To Add To Your Watch List.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Snowdrop</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/fantasy kdrama/Extraordinary you 2019.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Extraordinary you</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/fantasy kdrama/f56efe0e-dc2c-4ac6-abb2-8a147a6f75d8.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>W two world</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser">
                                        <div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div>
                                        <img src="movies/fantasy kdrama/Tale Of The Nine Tailed Poster.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Tale of the nine tailed fox</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serl"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/fantasy kdrama/b3b53e07-39ea-449c-a67c-98d563765ecc.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>The king eternal monarch</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
    
                            </div>
    
    
                        </div>
    
                        
                        <div class="section" >
                            <div class="sec">
                                <div class="leftarrow">
                                    
                                </div>
                                <div class="title" id="secno2">
                                    <h1>Mestry</h1>
                                <span class="material-symbols-outlined">arrow_forward_ios</span>
                                </div>
                            </div>
                           
                            <div class="list">
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/kdrama mestry/129cf1d0-431b-4200-9a20-4eba09ce695d.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Flower of evil</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser">
                                        <div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div>
                                        <img src="movies/kdrama mestry/93fe39ef-f4e5-40d9-b3d8-0778f3e4541e.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>He is a spychometric</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <a><img src="movies/kdrama mestry/Psychopath Diary.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>spychopath diary</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser">
                                        <div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div><img src="movies/kdrama mestry/f60f1007-7503-4a2d-8581-60936274a0df.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Vincenzo</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser">
                                        <div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div><img src="movies/kdrama mestry/Voice.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Voice</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/kdrama mestry/Игра Смерти _ Deaths Game 2023.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Death game</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                            </div>
    
    
                        </div>
    
                        <div class="section">
                            <div class="sec">
                                <div class="leftarrow">
                                    
                                </div>
                                <div class="title" id="secno3">
                                    <h1>Romantic</h1>
                                <span class="material-symbols-outlined">arrow_forward_ios</span>
                                </div>
                            </div>
    
                            <div class="list">
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser">
                                        <div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div><img src="movies/kdrama romance/2cfeaad5-4610-4471-9416-9e879f824be7.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>business proposal</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                                
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser">
                                        <div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div>
                                        <img src="movies/kdrama romance/2e98a16a-28b2-43ff-b242-99328b032755.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Crash landing on You</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser">
                                        <div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div><img src="movies/kdrama romance/7 Korean Drama Tentang Kisah Cinta Berlatarkan Dunia Hotel, Kental dengan Romansa Anak Konglomerat.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>King and land</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div><img src="movies/kdrama romance/712dc030-0f7a-4870-931c-4650338561eb.jpg" alt=""></a>
    
                                    <div class="details">
                                        <h2>True beauty</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/kdrama romance/LOVE ALARM.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Love alarm</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
                                
                                <div class="movie">
                                    
                                    <a href="./Video page/video_ser"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/kdrama romance/Descendents of the Sun.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Descendents of the Sun</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                            </div>
    
    
    
    
                            <div class="section">
                                <div class="sec">
                                    <div class="leftarrow">
                                        
                                    </div>
                                    <div class="title" id="secno4">
                                        <h1>Comedy</h1>
                                    <span class="material-symbols-outlined">arrow_forward_ios</span>
                                    </div>
                                </div>
                               
                                <div class="list">
        
                                    <div class="movie">
                                        
                                        <a href="./Video page/video_ser"><div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div>
                                        <img src="movies/comedy kdrama/My strange hero.jpg" alt=""></a>
                                        <div class="details">
                                            <h2>My strange hero</h2>
                                            <div class="likes">
                                                <p>1k</p>
                                                <p>7.2</p>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="movie">
                                        
                                        <a href="./Video page/video_ser">
                                            <div class="overlay">
                                                <span class="material-symbols-outlined btn">play_circle</span>
                                            </div>
                                            <img src="movies/comedy kdrama/Смех в _Вайкики_ _ Eulachacha Waikiki.jpg" alt=""></a>
                                        <div class="details">
                                            <h2>Eulachacha waikiki</h2>
                                            <div class="likes">
                                                <p>1k</p>
                                                <p>7.2</p>
                                            </div>
                                        </div>
                                    </div>
        
        
                                </div>
        
        
                            </div>
    
    
    
                        </div>
                 </div>


                 <div class="turkish">

                    <div class="section">
                        <div class="sec">
                            <div class="leftarrow">

                            </div>
                            <div class="title" id="secno">
                                <h1>Mestry</h1>
                            <span class="material-symbols-outlined">arrow_forward_ios</span>
                            </div>
                        </div>
    
                        <div class="list">
    
    
                            <div class="movie">
                                
                                <a href="./Video page/video_serie"><div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div>
                                <img src="movies/mestry turkish/photo_2024-10-10_21-12-28.jpg" alt=""></a>
                                <div class="details">
                                    <h2>Soz</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="movie">
                                
                                <a href="./Video page/video_serie">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/mestry turkish/photo_2024-10-10_21-12-29.jpg" alt=""></a>
                                <div class="details">
                                    <h2>Marasli</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="movie">
                                
                                <a href="./Video page/video_serie"><div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div>
                                <img src="movies/mestry turkish/photo_2024-10-10_21-12-30.jpg" alt=""></a>
                                <div class="details">
                                    <h2>Teskilat</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="movie">
                                
                                <a href="./Video page/video_serie"><div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div>
                                <img src="movies/mestry turkish/photo_2024-10-10_21-12-37.jpg" alt=""></a>
                                <div class="details">
                                    <h2>Cukur</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="movie">
                                
                                <a href="./Video page/video_serie">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/mestry turkish/photo_2024-10-10_21-12-38.jpg" alt=""></a>
                                <div class="details">
                                    <h2>Bas belasi</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="movie">
                                
                                <a href="./Video page/video_serie"><div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div>
                                <img src="movies/mestry turkish/photo_2024-10-10_21-12-39.jpg" alt=""></a>
                                <div class="details">
                                    <h2>Kuzgun</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
    
    
                        </div>
    
    
                    </div>
    
    
    
    
    
                     <div class="section">
                        <div class="sec">
                            <div class="leftarrow">
                                
                            </div>
                            <div class="title" id="secno1">
                                <h1>comedy</h1>
                            <span class="material-symbols-outlined">arrow_forward_ios</span>
                            </div>
                        </div>

                        
                        <div class="list">
                            <div class="movie">
                                
                                <a href="./Video page/video_serie">
                                    <div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div><img src="movies/comedy turkish/photo_2024-10-10_21-11-57.jpg" alt=""></a>
                                <div class="details">
                                    <h2>Umutsuz Ev Kadinlari</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
                            
                            <div class="movie">
                                
                                <a href="./Video page/video_serie"><div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div><img src="movies/comedy turkish/photo_2024-10-10_21-11-58.jpg" alt=""></a>
                                <div class="details">
                                    <h2>Hanim koyulu</h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="movie">
                                
                                <a href="./Video page/video_serie"><div class="overlay">
                                    <span class="material-symbols-outlined btn">play_circle</span>
                                </div><img src="movies/comedy turkish/photo_2024-10-10_21-11-59.jpg" alt=""></a>
                                <div class="details">
                                    <h2>Kuzey Yildizi/h2>
                                    <div class="likes">
                                        <p>1k</p>
                                        <p>7.2</p>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                            
                        </div>
                        
    
    
                        <div class="section">
                            <div class="sec">
                                <div class="leftarrow">
                                    
                                </div>
                                <div class="title" id="secno2">
                                    <h1>Drama</h1>
                                <span class="material-symbols-outlined">arrow_forward_ios</span>
                                </div>
                            </div>
    
                            <div class="list">
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/drama turkish/photo_2024-10-10_21-09-44.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Elimi birakma</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie">
                                        <div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div>
                                        <img src="movies/drama turkish/photo_2024-10-10_21-09-46.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Anne</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/drama turkish/photo_2024-10-10_21-09-59.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Kusukgelin</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/drama turkish/photo_2024-10-10_21-10-01.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Kirgin cicekler</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie">
                                        <div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div>
                                        <img src="movies/drama turkish/photo_2024-10-10_21-10-02.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Hercal</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/drama turkish/photo_2024-10-10_21-10-03.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Sen anlat karadenz</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/drama turkish/photo_2024-10-10_21-10-13.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Ates kusgiri gulayse</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
    
                            </div>
    
    
                        </div>




                        <div class="section">
                            <div class="sec">
                                <div class="leftarrow">
                                    
                                </div>
                                <div class="title" id="secno3">
                                    <h1>Horror</h1>
                                <span class="material-symbols-outlined">arrow_forward_ios</span>
                                </div>
                            </div>
    
                            <div class="list">
    
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie">
                                        <div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div>
                                        <img src="movies/horror turkish/a2bcea8c-21d3-4895-a5d8-731f3c6ba527.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Askfilmi</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/horror turkish/Siccîn 1.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Siccîn</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/horror turkish/Sijjin.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Sijjin</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
    
                            </div>
    
    
                        </div>
    
                        
                        <div class="section">
                            <div class="sec">
                                <div class="leftarrow">
                                    
                                </div>
                                <div class="title" id="secno4">
                                    <h1>Historic</h1>
                                <span class="material-symbols-outlined">arrow_forward_ios</span>
                                </div>
                            </div>
                           
                            <div class="list">
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/historic turkish/photo_2024-10-10_21-11-12.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Barbaroslar</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie">
                                        <div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div>
                                        <img src="movies/historic turkish/photo_2024-10-10_21-11-13.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Buyuk selcuklu</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="movies/historic turkish/photo_2024-10-10_21-11-14.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Vatanim</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie">
                                        <div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div><img src="movies/historic turkish/photo_2024-10-10_21-11-16.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Mehmed</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie">
                                        <div class="overlay">
                                            <span class="material-symbols-outlined btn">play_circle</span>
                                        </div><img src="movies/historic turkish/photo_2024-10-10_21-11-17.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Harim Sultan</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="movie">
                                    
                                    <a href="./Video page/video_serie"><div class="overlay">
                                        <span class="material-symbols-outlined btn">play_circle</span>
                                    </div>
                                    <img src="../movies/historic turkish/photo_2024-10-10_21-11-18.jpg" alt=""></a>
                                    <div class="details">
                                        <h2>Kurulus</h2>
                                        <div class="likes">
                                            <p>1k</p>
                                            <p>7.2</p>
                                        </div>
                                    </div>
                                </div>
    
    
                            </div>
    
    
                        </div>

                 </div>


            </div>
        </div>
        
        <footer class="footer">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="../img/LOGO-removebg-preview.png" alt="logo">
                </div>
                <div class="footer-links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="Film">Film</a></li>
                        <li ><a href="Series" class="active">Series</a></li>
                        <li><a href="Anime">Anime</a></li>
                        <li><a href="Animation">Animation</a></li>
                        <li><a href="list">My List</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>                
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Show up . By Chaima Mansouri and Chahd Touaibia  . ITC </p>
            </div>
        </footer>
        
        
        
        
    </div>
    <div class="login" id="login-modal" style=" display:none">
    <div class="login-box">
        <button class="close-btn" id="close-btn">&times;</button>
        <h2>Login Or Signup</h2>
        <a href="/auth/google" class="login-button google"> Google</a>
        <a href="/auth/facebook" class="login-button facebook"> Facebook</a>
    </div>
   </div>
    <script src="../forAll.js"></script>
</body>
</html>
