<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="../home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="icon" href="../img/l.png">
    <title>Show up</title>
</head>
<body>
    <div class="home">
        <div class="header">
            <header>
                <div class="logo">
                    <img src="../img/LOGO.png" alt="logo">
                </div>
                <div class="search">
                    <input type="text" id="searchInput" placeholder="Search for a video..." onkeyup="searchVideo()">
                    <span class="material-symbols-outlined">video_search</span>
                </div>

                <div class="all" id="all">
                <div class="nav">
                    <nav>
                        <ul>
                            <li ><a href="/" >Home</a></li>
                            <li><a href="../Film">Film</a></li>
                            <li><a href="../Serie">Series</a></li>
                            <li><a href="../Anime">Anime</a></li>
                            <li><a href="../Animation">Animation</a></li>
                            <li><a href="../list">My List</a></li>
                            <li>
                                <div class="account" id="account" onclick="openlogin()">
                                  <% if (user && user.photos) { %>
                                    <img src="<%= user.photos[0].value %>" alt="User Image" id="user-image" class="profile-image">
                                  <% } else { %>
                                    <span class="material-symbols-outlined" id="default-icon">account_circle</span>
                                  <% } %>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
                <span class="material-symbols-outlined" id="menu" >
                    menu
                    </span>
               
            </header>
        </div>

        <div class="main">
            <div class="part">
                 <div class="description">
                    <div class="image-container">
                        <div class="smoke-effect2"></div>
                        <img src="../movies/pics and videos/Harry potter/3.jpg" alt="Image with black fog on the sides">
                        <div class="smoke-effect"></div>
                    </div>
                      
                    <div class="information">
                        
                           <h1>Harry Potter and the Sorcerer's Stone</h1>
                           <div class="line-inf">
                            <p>Film</p>
                            <p>|</p>
                            <p>Fantasy</p>
                            <p>|</p>
                            <p>Adventure</p>
                            <p>|</p>
                            <p>2004</p>
                            <p>|</p>
                            <p>1Season</p>
                           </div>
                           <p class="inf"> Harry finds out that his parents' killer, Sirius Black, has escaped from prison. He learns about the Time-Turner and faces new challenges, ultimately discovering that Sirius is actually his godfather.</p>
                           <div class="inf2">
                           <Span class="titre">Audio :</Span>
                           <span class="repose">English .</span>
                           <br>
                           <br>
                           <span class="titre">Translated :</span>
                           <span class="repose"></span>
                           <span class="repose">Arabic .</span>
                           </div>
                           <div class="properties">
                            <span class="material-symbols-outlined" title="Add to My list">heart_plus </span>
                            <span class="material-symbols-outlined" title="Dissatisfied">sentiment_dissatisfied</span>
                            <span class="material-symbols-outlined" title="Satisfied">sentiment_satisfied</span>
                            <span class="material-symbols-outlined" title="Very_satisfied">sentiment_very_satisfied</span>
                           </div>
                        </div>

                 </div>
            </div>
            
            <div class="part-Second">
                <div class="options">
                    <span  onclick="activateSpan(this)" class="span " id="Episodes">Episodes</span>
                    <span  onclick="activateSpan(this)" class="span" id="Announcement"> Announcement</span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>

                </div>
                <div class="liste-video Episodes" id="Episode">
                    <div class="video">
                        <video class="myVideo" width="300" height="200" controls poster="../movies/pics and videos/Harry potter/3.jpg">
                            <source src="../movies/pics and videos/Harry potter/p2.mp4 type="video/mp4">
                        </video>
                        <h6 class="video-number">Episode 1</h6>
                    </div>
                   
                </div>

                <div class="liste-video Announcement" id="Announcements">
                    <div class="video videos">
                        <video class="myVideo" width="300" height="200" controls poster="../movies/pics and videos/Harry potter/3.jpg">
                            <source src="../movies/pics and videos/Harry potter/p2.mp4 type="video/mp4">
                        </video>
                        <h6 class="video-number">Episode 1</h6>
                    </div>
                </div>
                
                

        </div>
        
        <footer class="footer">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="../img/LOGO-removebg-preview.png" alt="logo">
                </div>
                <div class="footer-links">
                    <ul>
                        <li ><a href="/" >Home</a></li>
                            <li><a href="../Film">Film</a></li>
                            <li><a href="../Serie">Series</a></li>
                            <li><a href="../Anime">Anime</a></li>
                            <li><a href="../Animation">Animation</a></li>
                            <li><a href="../list">My List</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>                
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Show up . By Chaima Mansouri and Chahd Touaibia  . ITC </p>
            </div>
        </footer>
        
        
        
        
        </div>
    <div class="login" id="login-modal" style=" display:none">
    <div class="login-box">
        <button class="close-btn" id="close-btn">&times;</button>
        <h2>Login Or Signup</h2>
        <a href="/auth/google" class="login-button google"> Google</a>
        <a href="/auth/facebook" class="login-button facebook"> Facebook</a>
    </div>
   </div>
  
    <script src="../home.js"></script>
</body>
</html>
